body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: blue;
}

h1, h2, h3  {
  margin: 0;
  padding:0;
}

div {
}

.hero {
  width: 100%;
}

.normal {
  width: 40%;
}

.icon {
  width: 10%;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: right;
  padding: 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  text-decoration: underline;
}

#main {
  width: 750px;
  float: right;

}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: right;
}

.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}

.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}

.wrapper {
 
}
